* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}


.Title {
    font-family:Comic Sans MS, Comic Sans, cursive;
    font-size: 150px;
    text-align: center;
    color: white;
    height: 200px;
    width: 100%;
    background-color: rgb(36, 34, 34);
    top: 0;
}

.background {
    background-color: rgb(66, 60, 60);
}

.board {
    position: absolute;
    display: grid;
    grid-gap: 5px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 600px;
    width: 600px;
}


.board_grid {
    grid-gap: 5px;
    width: 180px;
    height: 180px;
    background-color: rgb(85, 75, 75);
    border-radius: 10px;
    font-size: 115px;
    color: white;
    font-family:Comic Sans MS, Comic Sans, cursive;
    margin: auto;
    text-align: center;
    top: 10px;

}


.board_grid:hover {
    background-color: rgb(68, 61, 61);

}

.screen {
    height: 600px;
    width: 600px;
    margin: auto;
    background-color: #696464;
    border-radius: 10px;
    position: relative;
    top: 10px;
}

.menubuttonstyle {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 200px;
    height: 100px;
    font-size: xx-large;
    font-family:Comic Sans MS, Comic Sans, cursive;
    border-radius: 15px;
    background-color: rgb(66, 60, 60);
}


.menubuttonstyle:hover {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: xx-large;
    font-family:Comic Sans MS, Comic Sans, cursive;
    border-radius: 15px;
    background-color: rgb(59, 55, 55);
}


.centerbuttons {
    position: absolute;
    top: 43%;
    left: 33%;
}

h2 {
    top: 600px;
    color: white;
    font-size: large;
    text-align: center;
    font-family:Comic Sans MS, Comic Sans, cursive;
}

h2:hover {
    top: 600px;
    font-size: larger;
    color: white;
}

.menubuttonstyle:active {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 48, 48);

}

.winlosetiescreen {
    z-index: 5;
    height: 200px;
    width: 600px;
    margin: auto;
    background-color: #3a3535;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    color: white;
    font-size: 80px;
    font-family:Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    border-radius: 20px;

}